<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />"
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".GlobalApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.InputOutputApp"
        tools:targetApi="31">
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="ac4a3d98cf8e116392d79863f3f9c800" />
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="kdm3zqe1gt"/>
        <activity
            android:name=".MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".NextActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".PopupActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>

        <activity
            android:name=".ToastActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".CallActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".NuboCallActivity"
            android:exported="false">
        </activity>


        <activity
            android:name=".MessageActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".NuboMessageActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".UrlActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".NuboUrlActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".PhotoActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".MultiPhotoActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".MultiFileActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".ContactActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".MapActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".MapKakaoActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".MapNaverActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".NaviActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".WebViewActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".SurfaceViewActivity"
            android:exported="false">
        </activity>

    </application>

</manifest>